
<div id="job-view-container" class="container">
  <div class="row text-center">
    <a class="back-link main-color" href="/">Voltar para Home</a>
    <div id="img-container" class="col-md-12">
      <img src="/img/company.svg" alt="companyLogo">
    </div>
    <div class="col-md-12">
      <h1 class="main-color">{{job.dataValues.title}}</h1>
      <p class="bold">Quem estão buscando:</p>
      <p class="job-desc">{{job.dataValues.description}}</p>
      <p><span class="bold">Salário Informado:</span> R${{job.dataValues.salary}}</p>
      <p>Para trabalhar na <span class="bold main-color">{{job.dataValues.company}}</span>envie um email para a <a href="mail:to{{job.dataValues.email}}">{{job.dataValues.email}}</a></p>

    </div>
  </div>
</div>